<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/3.7/phpunit.xsd"

    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="public/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    forceCoversAnnotation="false"
    processIsolation="false"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    stopOnSkipped="false"
    strict="false"
    verbose="false">

    <!-- Serão considerados arquivos de teste os arquivos encontrados nas sites abaixo -->
    <testsuites>
        <testsuite name="Suite de Testes do Projeto">
            <!-- Arquivos que compõe a suite de teste -->
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
    </testsuites>

    <!-- Gerador de relatório de cobertura de código -->
    <logging>
        <log type="testdox-html" target="build/logs/testdox.html" />
        <log type="coverage-clover" target="build/logs/clover.xml" />
        <log type="coverage-html" 
             charset="UTF-8"
             yui="true"
             highlight="true"
             lowUpperBound="35"
             highLowerBound="80"
             target="build/coverage" 
             title="Título do Relatório" />
        <log type="junit" target="build/logs/junit.xml" />
    </logging> 

    <!-- Arquivos que serão considerados para elaboração do relatório de cobertura dos testes -->
    <filter>
        <blacklist>
            <directory>./vendor/</directory>
            <directory>./tests/</directory>
        </blacklist>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src/</directory>
            <!-- <exclude>
                <directory>vendor</directory>
                <file>yiic.php</file>
            </exclude> -->
        </whitelist>
    </filter>
</phpunit>
